@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    width: 600px;
    height: 200px;
}

section:nth-of-type(1){
    background-color: pink;
}

section:nth-of-type(2){
    background-color: lightblue;
    position: relative;
    /* 자기 위치를 기반으로 위아래로 움직인다 */
    top: -100px;
    /* - : 현재 위치에서 위로 100px이동 */
    /* +면 아래로 이동 */
    left: 100px;
    /* 오른쪽으로 이동 */
}